/* main_block section */
.main_block 
{
    margin-top: -56px;
    height: 900px;

	&-content 
    {
		margin-top: 160px;
		width: 600px;
		height: 220px;
		display: grid;
		gap: 24px;
	}
	
	&-title 
    {
		font-family: var(--font-family-3);
		font-weight: 700;
		font-size: 36px;
		line-height: 144%;
		letter-spacing: 0.33px;
		color: var(--col-1);
	
		span 
        {
			color: var(--col-3);
		}
	}
	
	&-text 
    {
		font-family: var(--font-family-4);
		font-weight: 500;
		font-size: 15px;
		line-height: 20px;
		letter-spacing: -0.24px;
		color: var(--col-1);
	}
	
	&-form 
    {
		margin-top: 64px;
		width: fit-content;
		border-radius: 12px;
		padding: 24px;
		box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.16), 0 0 2px 0 rgba(0, 0, 0, 0.08);
		background: var(--background-col);
		display: flex;
		flex-direction: column;
		gap: 32px;
	}
	
	&-subtitle 
    {
		width: 600px;
		font-family: var(--font-family-3);
		font-weight: 700;
		font-size: 20px;
		line-height: 24px;
		letter-spacing: 0.38px;
		color: var(--col-1);
	}

	&-background 
    {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		z-index: -1;
		max-width: 1440px;
		width: 100%;
		height: 900px;
		overflow: hidden;

		&-wrapper {
			display: flex;
			gap: 2%;
			justify-content: end;
			transform: translateX(24%);
		}
	}

	@media screen and (max-width: 1224px) 
    {
		&-background 
        {
			width: 100vw;
		}
	}
	
	@media screen and (max-width: 1023px) 
    {
		margin-top: -90px;
		height: 762px;
	
		&-content 
        {
			margin-top: 138px;
			width: 382px;
			height: 204px;
		}
	
		&-title 
        {
			font-size: 28px;
		}
	
		&-form 
        {
			margin-top: 32px;
			padding: 32px;
			width: 382px;
			height: 356px;
			box-sizing: border-box;
		}
	
		&-subtitle 
        {
			width: 295px;
			font-size: 16px;
		}
	
		&-background 
        {
			height: 762px;
	
			&-wrapper 
            {
				transform: translateX(16%);
			}
		}
	}
	
	@media screen and (max-width: 767px) 
    {
		height: 1268px;
	
		&-form 
        {
			margin-top: 536px;
			width: 392px;
		}

		&-background 
        {
			height: 1268px;
	
			&-wrapper 
            {
				transform: translate(32%, 20%);
			}
		}
	}	
}

.form_welcome 
{
    width: 628px;
    height: 58px;
    display: flex;
    gap: 24px;

	&-content 
    {
		display: grid;
		gap: 8px;
		flex: 1;
	
		label 
        {
			font-family: var(--font-family-4);
			font-weight: 500;
			font-size: 13px;
			line-height: 16px;
			letter-spacing: -0.08px;
			color: var(--col-6);
		}
	
		input 
        {
			border: none;
			border-bottom: solid 0.7px #d0d5dd;
			font-family: var(--font-family-6);
			font-weight: 400;
			font-size: 17px;
			line-height: 22px;
			letter-spacing: -0.41px;
			color: var(--col-1);
		}
	}

	& button 
    {
		border-radius: 8px;
		border: 0px;
		padding: 11px 24px;
		width: 132px;
		height: 58px;
		cursor: pointer;
		background: var(--col-3);
		text-align: left;
		font-family: var(--font-family-8);
		font-weight: 600;
		font-size: 14px;
		line-height: 18px;
		letter-spacing: -0.15px;
		color: var(--col-7);
	}

	@media screen and (max-width: 1023px) 
    {
		width: 295px;
		display: flex;
		flex-direction: column;
		gap: 32px;
	
		& button 
        {
			width: fit-content;
			height: 40px;
			text-align: left;
		}
	}
	
	@media screen and (max-width: 767px) 
    {
		width: 224px;
	}	
}

.background_image 
{
	display: flex;
	flex-direction: column;
	rotate: -12deg;
	object-fit: cover;

	@media screen and (max-width: 1023px) 
    {
		width: 146px;
	}

}

.image-left {
	animation: moveBackgroundLeft 30s linear infinite;

	@media screen and (max-width: 767px) 
    {
		animation: none;
	}	
}

.image-right {
    animation: moveBackgroundRight 30s linear infinite;

	@media screen and (max-width: 767px) 
    {
		margin-top: -30px;
		animation: none;
	}	
}

@keyframes moveBackgroundLeft 
{
    0% 
    {
        transform: translateY(0);
    }
    100% 
    {
        transform: translateY(-50%);
    }
}

@keyframes moveBackgroundRight 
{
    0% 
    {
        transform: translateY(-50%);
    }
    100% 
    {
        transform: translateY(0)
    }
}

/* full_dev section*/
.full_dev_block {
    background-color: var(--col-7);
    margin-left: -108px;
    margin-right: -108px;
    padding: 80px 108px;
    max-width: 1440px;
    width: 100vw;
    display: flex;
    gap: 128px;

    &-leftblock 
    {
        width: 600px;
        display: grid;
        gap: 34px;
    }

    &-content 
    {
        display: grid;
        gap: 32px;
    }

    &-title 
    {
        font-family: var(--font-family-3);
        font-weight: 700;
        font-size: 36px;
        line-height: 144%;
        letter-spacing: 0.33px;
        color: var(--col-1);
    }

    &-text 
    {
        font-family: var(--font-family-4);
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: -0.24px;
        color: var(--col-1);
    }

    &-tech 
    {
        width: 496px;
        display: grid;
        gap: 16px;
    }

    &-subtitle 
    {
        font-family: var(--font-family-5);
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.34px;
        color: var(--col-1);
    }

    &-enum 
    {
        font-family: var(--font-family-6);
        font-weight: 400;
        font-size: 17px;
        line-height: 22px;
        letter-spacing: -0.41px;
        color: var(--col-2);

        span {
            color: var(--col-3);
        }
    }

    &-list 
    {
        display: grid;
    }

    &-item 
    {
        padding: 12px 0;
        display: flex;
        gap: 12px;
        align-items: center;
        width: fit-content;

        a 
        {
            font-family: var(--font-family-7);
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0.38px;
            color: var(--col-4);
            text-decoration: none;
            cursor: pointer;

            &:hover 
            {
                font-family: var(--font-family-5);
                font-weight: 600;
                color: var(--col-1);
                border-bottom: solid 1px var(--col-3);
            }
        }
    }

    @media screen and (max-width: 1224px) 
    {
        margin-left: -80px;
        margin-right: -80px;
        padding: 80px;
    }

    @media screen and (max-width: 1023px) 
    {
        margin-left: -32px;
        margin-right: -32px;
        padding: 32px;
        gap: 82px;

        &-leftblock 
        {
            margin-left: 40px;
            width: 320px;
            gap: 32px;
        }

        &-content,
        &-tech 
        {
            width: 320px;
        }

        &-title 
        {
            font-size: 28px;
        }

        &-enum 
        {
            font-size: 14px;
        }
    }

    @media screen and (max-width: 767px) 
    {
        margin-left: -16px;
        margin-right: -16px;
        padding: 32px 16px;
        flex-direction: column;
        gap: 32px;

        &-leftblock 
        {
            margin-left: initial;
        }

        &-enum 
        {
            font-size: 14px;
            width: 278px;
        }
    }
}


/* footer section */
.footer 
{
    border-radius: 12px;
    padding: 24px;
    margin-top: auto;
    margin-bottom: 48px;
    box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.08), 0 0 2px 0 rgba(0, 0, 0, 0.08);
    background: var(--col-1);

	&_content 
    {
		display: grid;
		grid-gap: 40px;
		align-items: center;
	}
	
	&_title 
    {
		font-family: var(--font-family-3);
		font-weight: 700;
		font-size: 36px;
		line-height: 50%;
		letter-spacing: 0em;
		color: var(--col-7);
		text-decoration: none;
		text-transform: uppercase;
		text-align: center;
	}
	
	&_contacts 
    {
		display: flex;
		flex-wrap: wrap;
		row-gap: 32px;
	}
	
	&_contact 
    {
		display: grid;
		gap: 8px;
		flex: 1;
		min-width: 160px;
	}
	
	&_contact-title 
    {
		display: flex;
		gap: 8px;
		align-items: center;
		p 
        {
			font-family: var(--font-family-4);
			font-weight: 500;
			font-size: 14px;
			line-height: 18px;
			letter-spacing: -0.15px;
			color: var(--col-5);
		}
	}
	
	&_contact-content 
    {
		font-family: var(--font-family-8);
		font-weight: 600;
		font-size: 17px;
		line-height: 22px;
		letter-spacing: -0.41px;
		color: var(--col-7);
		text-decoration: none;
	}
	
	&_end 
    {
		display: flex;
		gap: 12px;
		align-items: center;
		justify-content: center;
	
		&-text 
        {
			font-family: var(--font-family-6);
			font-weight: 400;
			font-size: 13px;
	
			line-height: 16px;
			letter-spacing: -0.08px;
			color: var(--col-7);
		}
	}
	
	@media screen and (max-width: 1023px) 
    {
		padding: 46px 32px;
		width: 100vw;
		margin-bottom: 0;
		margin-left: -32px;
	
		&_content 
        {
			grid-gap: 32px;
		}
	
		&_contact-content 
        {
			font-size: 14px;
		}
	}
	
	@media screen and (max-width: 767px) 
    {
		padding: 38px 16px;
		margin-left: -16px;
	
		&_content 
        {
			grid-gap: 52px;
		}
	
		&_title 
        {
			font-size: 32px;
		}
	}
}

/* header section */
.header {
    border-radius: 12px;
    padding: 16px 24px;
    width: fit-content;
    position: sticky;
    top: 24px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    background: var(--background-col);
    z-index: 1000;

    &_content 
    {
        display: flex;
        gap: 80px;
        align-items: center;
    }

    &_menu 
    {
        width: 59px;
        height: 40px;
        display: none;

        svg 
        {
            width: 100%;
            height: 100%;
        }

        &-content 
        {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: var(--background-col);
            z-index: 9999;
            overflow: auto;
            display: none;
        }
    
        &-wrapper 
        {
            display: grid;
            gap: 65px;
            padding: 100px 40px;
        }
    
        &-close-wrapper 
        {
            display: flex;
            justify-content: end;
        }
    
        &-close 
        {
            width: 24px;
            height: 24px;
            cursor: pointer;
    
            svg 
            {
                width: 100%;
                height: 100%;
            }
    
            &:active 
            {
                .header_menu-content 
                {
                    display: none;
                }
            }
        }
    
        &-title 
        {
            font-size: 48px;
            text-align: center;
            line-height: 48px;
        }
    
        &-blocks 
        {
            display: grid;
            gap: 65px;
            padding: 0;
            justify-content: center;
        }
    
        &-links 
        {
            display: grid;
            gap: 32px;
            text-align: center;
        }
    
        &-link 
        {
            font-family: var(--font-family-9);
            font-weight: 400;
            font-size: 36px;
            line-height: 144%;
            letter-spacing: 0.33px;
            text-decoration: none;
            color: var(--col-1);
        }
    
        &-contacts 
        {
            display: flex;
            gap: 32px;
            flex-wrap: wrap;
            row-gap: 22px;
            justify-content: center;
    
            &-content a 
            {
                font-family: var(--font-family-4);
                font-weight: 500;
                font-size: 18px;
                letter-spacing: -0.15px;
                color: var(--col-3);
                text-decoration: none;
                white-space: nowrap;
            }
        }

        &-contact 
        {
            display: flex;
            gap: 8px;
            align-items: center;
    
            svg 
            {
                width: 24px;
                height: 24px;
                color: var(--col-3);
            }
        }

        &-title 
        {
            font-family: var(--font-family-3);
            font-weight: 700;
            font-size: 48px;
            text-transform: uppercase;
            line-height: 48px;
            letter-spacing: -0.15px;
            text-decoration: none;
            color: var(--col-3);
            text-align: center;
        }

        &-contact-content a 
        {
            font-family: var(--font-family-4);
            font-weight: 500;
            font-size: 18px;
            letter-spacing: -0.15px;
            color: var(--col-3);
            text-decoration: none;
            white-space: nowrap;
        }

        &:active 
        {
            .header_menu-content 
            {
                display: block;
            }
        }
    }

    

    &_title 
    {
        font-family: var(--font-family-3);
        font-weight: 700;
        font-size: 20px;
        text-transform: uppercase;
        line-height: 18px;
        letter-spacing: -0.15px;
        text-decoration: none;
        color: var(--col-3);
    }

    &_links 
    {
        display: flex;
        gap: 24px;
    }

    &_link,
    &_contact-content a 
    {
        font-family: var(--font-family-4);
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -0.15px;
        text-decoration: none;
        color: var(--col-1);
    }

    &_contacts 
    {
        display: flex;
        gap: 32px;
    }

    &_contact-phone,
    &_contact-mail 
    {
        display: flex;
        gap: 8px;
        align-items: center;

        svg 
        {
            width: 24px;
            height: 24px;
            color: var(--col-3);
        }
    }

    &_contact-content 
    {
        display: flex;
        gap: 16px;

        a 
        {
            color: var(--col-3);
        }
    }

    

	@media screen and (max-width: 1328px) 
    {
		&_content 
        {
			gap: 30px;
		}
	
		&_links 
        {
			gap: 15px;
		}
	
		&_contacts 
        {
			gap: 15px;
		}
	
		&_contact-phone,
		&_contact-mail 
        {
			gap: 4px;
		}
	
		&_contact-content 
        {
			gap: 10px;
		}
	}
	
	@media screen and (max-width: 1105px) 
    {
		padding: 16px 17px;

		&_content 
        {
			gap: 10px;
		}

		&_links 
        {
			gap: 6px;
		}

		&_contacts 
        {
			gap: 6px;
		}
	}
	
	@media screen and (max-width: 1023px) 
    {
		padding: 25px 32px;
		width: 100vw;
		top: 16px;
		margin-left: -32px;

		&_content 
        {
			gap: initial;
			justify-content: space-between;
		}

		&_menu 
        {
			display: block;
		}

		&_title 
        {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		&_links,
		&_contact-phone 
        {
			display: none;
		}
	}
	
	@media screen and (max-width: 767px) 
    {
		padding: 35px 16px;
		top: 20px;
		margin-left: -16px;

		&_menu 
        {
			width: 40px;
			height: 28px;

            &-wrapper 
            {
                padding: 70px 40px;
            }

            &-title 
            {
                font-size: 20px;
                line-height: 18px;
                letter-spacing: -0.15px;
            }
    
            &-link 
            {
                font-size: 24px;
            }
    
            &-blocks 
            {
                gap: 52px;
            }
    
            &-links 
            {
                gap: 21px;
            }
    
            &-contacts 
            {
                flex-direction: column;
                row-gap: 16px;
                align-items: center;
            }
    
            &-contact 
            {
                gap: 8px;
            }
		}

		&_contacts 
        {
			display: none;
		}
	}
}

/* fonts section */
@font-face {
    font-family: "Inter";
    src: local('Inter Bold'),
         url("/src/assets/fonts/Inter/Inter-Bold.ttf") format("truetype"),
         url("/src/assets/fonts/Inter/Inter-Bold.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Inter";
    src: local('Inter Bold Italic'),
         url("/src/assets/fonts/Inter/Inter-BoldItalic.ttf") format("truetype"),
         url("/src/assets/fonts/Inter/Inter-BoldItalic.woff2") format("woff2");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "Inter";
    src: local('Inter Medium'),
         url("/src/assets/fonts/Inter/Inter-Medium.ttf") format("truetype"),
         url("/src/assets/fonts/Inter/Inter-Medium.woff2") format("woff2");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Inter";
    src: local('Inter Medium Italic'),
         url("/src/assets/fonts/Inter/Inter-MediumItalic.ttf") format("truetype"),
         url("/src/assets/fonts/Inter/Inter-MediumItalic.woff2") format("woff2");
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: "Inter";
    src: local('Inter Regular'),
         url("/src/assets/fonts/Inter/Inter-Regular.ttf") format("truetype"),
         url("/src/assets/fonts/Inter/Inter-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Inter";
    src: local('Inter Regular Italic'),
         url("/src/assets/fonts/Inter/Inter-RegularItalic.ttf") format("truetype"),
         url("/src/assets/fonts/Inter/Inter-RegularItalic.woff2") format("woff2");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "SF Pro Display";
    src: local('SF Pro Display Semibold'),
         url("/src/assets/fonts/SFProDisplay/SF-Pro-Display-Semibold.ttf") format("truetype"),
         url("/src/assets/fonts/SFProDisplay/SF-Pro-Display-Semibold.woff2") format("woff2");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "SF Pro Display";
    src: local('SF Pro Display Semibold Italic'),
         url("/src/assets/fonts/SFProDisplay/SF-Pro-Display-SemiboldItalic.ttf") format("truetype"),
         url("/src/assets/fonts/SFProDisplay/SF-Pro-Display-SemiboldItalic.woff2") format("woff2");
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: "SF Pro Display";
    src: local('SF Pro Display Regular'),
         url("/src/assets/fonts/SFProDisplay/SF-Pro-Display-Regular.ttf") format("truetype"),
         url("/src/assets/fonts/SFProDisplay/SF-Pro-Display-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "SF Pro Display";
    src: local('SF Pro Display Regular Italic'),
         url("/src/assets/fonts/SFProDisplay/SF-Pro-Display-RegularItalic.ttf") format("truetype"),
         url("/src/assets/fonts/SFProDisplay/SF-Pro-Display-RegularItalic.woff2") format("woff2");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "SF Pro Text";
    src: local('SF Pro Text Semibold'),
         url("/src/assets/fonts/SFProText/SFProText-Semibold.ttf") format("truetype"),
         url("/src/assets/fonts/SFProText/SFProText-Semibold.woff2") format("woff2");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "SF Pro Text";
    src: local('SF Pro Text Semibold Italic'),
         url("/src/assets/fonts/SFProText/SFProText-SemiboldItalic.ttf") format("truetype"),
         url("/src/assets/fonts/SFProText/SFProText-SemiboldItalic.woff2") format("woff2");
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: "SF Pro Text";
    src: local('SF Pro Text Medium'),
         url("/src/assets/fonts/SFProText/SFProText-Medium.ttf") format("truetype"),
         url("/src/assets/fonts/SFProText/SFProText-Medium.woff2") format("woff2");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "SF Pro Text";
    src: local('SF Pro Text Medium Italic'),
         url("/src/assets/fonts/SFProText/SFProText-MediumItalic.ttf") format("truetype"),
         url("/src/assets/fonts/SFProText/SFProText-MediumItalic.woff2") format("woff2");
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: "SF Pro Text";
    src: local('SF Pro Text Regular'),
         url("/src/assets/fonts/SFProText/SFProText-Regular.ttf") format("truetype"),
         url("/src/assets/fonts/SFProText/SFProText-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "SF Pro Text";
    src: local('SF Pro Text Regular Italic'),
         url("/src/assets/fonts/SFProText/SFProText-RegularItalic.ttf") format("truetype"),
         url("/src/assets/fonts/SFProText/SFProText-RegularItalic.woff2") format("woff2");
    font-style: italic;
    font-weight: 400;
}

/* vars section */
:root 
{
    --col-1: #101828;
    --col-2: #344054;
    --col-3: #2d66ee;
    --col-4: #1d2939;
    --col-5: #98a2b3;
    --col-6: #667085;
    --col-7: #ffffff;

    --font-family-1: 'SF Pro Text', sans-serif;
    --font-family-2: 'Inter', sans-serif;
    --font-family-3: "Inter Bold", sans-serif;
    --font-family-4: "SF Pro Text Medium", sans-serif;
    --font-family-5: "SF Pro Display Semibold", sans-serif;
    --font-family-6: "SF Pro Text Regular", sans-serif;
    --font-family-7: "SF Pro Display Regular", sans-serif;
    --font-family-8: "SF Pro Text Semibold", sans-serif;
    --font-family-9: "Inter Regular", sans-serif;

    --background-col: #ffffff;
}

/* rest section */
html 
{
	font-family: var(--font-family-1);
	font-style: normal;
	font-weight: 400;
}

body 
{
	background: #f2f4f7;
	width: 100%;
	margin: 0;
}

.container 
{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	padding: 0 108px;
	box-sizing: border-box;

	@media screen and (max-width: 1224px) 
    {
		padding: 0 80px;
	}

	@media screen and (max-width: 1023px) 
    {
		padding: 0 32px;
	}

	@media screen and (max-width: 767px) 
    {
		padding: 0 16px;
	}
}
 
* {
	box-sizing: border-box;
	&:before 
    {
		box-sizing: border-box;
	}
	&:after 
    {
		box-sizing: border-box;
	}
}