@font-face {
    font-family: "Inter";
    src: local("Inter Bold"), url("/src/assets/fonts/Inter/Inter-Bold.ttf") format("truetype"), 
                              url("/src/assets/fonts/Inter/Inter-Bold.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
  }
  @font-face {
    font-family: "Inter";
    src: local("Inter Bold Italic"), url("/src/assets/fonts/Inter/Inter-BoldItalic.ttf") format("truetype"), 
                                     url("/src/assets/fonts/Inter/Inter-BoldItalic.woff2") format("woff2");
    font-style: italic;
    font-weight: 700;
  }
  @font-face {
    font-family: "Inter";
    src: local("Inter Medium"), url("/src/assets/fonts/Inter/Inter-Medium.ttf") format("truetype"), 
                                url("/src/assets/fonts/Inter/Inter-Medium.woff2") format("woff2");
    font-style: normal;
    font-weight: 500;
  }
  @font-face {
    font-family: "Inter";
    src: local("Inter Medium Italic"), url("/src/assets/fonts/Inter/Inter-MediumItalic.ttf") format("truetype"), 
                                       url("/src/assets/fonts/Inter/Inter-MediumItalic.woff2") format("woff2");
    font-style: italic;
    font-weight: 500;
  }
  @font-face {
    font-family: "Inter";
    src: local("Inter Regular"), url("/src/assets/fonts/Inter/Inter-Regular.ttf") format("truetype"), 
                                 url("/src/assets/fonts/Inter/Inter-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
  }
  @font-face {
    font-family: "Inter";
    src: local("Inter Regular Italic"), url("/src/assets/fonts/Inter/Inter-RegularItalic.ttf") format("truetype"), 
                                        url("/src/assets/fonts/Inter/Inter-RegularItalic.woff2") format("woff2");
    font-style: italic;
    font-weight: 400;
  }

  @font-face {
    font-family: "SF Pro Display";
    src: local("SF Pro Display Semibold"), url("/src/assets/fonts/SFProDisplay/SF-Pro-Display-Semibold.ttf") format("truetype"), 
                                           url("/src/assets/fonts/SFProDisplay/SF-Pro-Display-Semibold.woff2") format("woff2");
    font-style: normal;
    font-weight: 600;
  }
  @font-face {
    font-family: "SF Pro Display";
    src: local("SF Pro Display Semibold Italic"), url("/src/assets/fonts/SFProDisplay/SF-Pro-Display-SemiboldItalic.ttf") format("truetype"), 
                                                  url("/src/assets/fonts/SFProDisplay/SF-Pro-Display-SemiboldItalic.woff2") format("woff2");
    font-style: italic;
    font-weight: 600;
  }
  @font-face {
    font-family: "SF Pro Display";
    src: local("SF Pro Display Regular"), url("/src/assets/fonts/SFProDisplay/SF-Pro-Display-Regular.ttf") format("truetype"), 
                                          url("/src/assets/fonts/SFProDisplay/SF-Pro-Display-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
  }
  @font-face {
    font-family: "SF Pro Display";
    src: local("SF Pro Display Regular Italic"), url("/src/assets/fonts/SFProDisplay/SF-Pro-Display-RegularItalic.ttf") format("truetype"), 
                                                 url("/src/assets/fonts/SFProDisplay/SF-Pro-Display-RegularItalic.woff2") format("woff2");
    font-style: italic;
    font-weight: 400;
  }

  @font-face {
    font-family: "SF Pro Text";
    src: local("SF Pro Text Semibold"), url("/src/assets/fonts/SFProText/SFProText-Semibold.ttf") format("truetype"), 
                                        url("/src/assets/fonts/SFProText/SFProText-Semibold.woff2") format("woff2");
    font-style: normal;
    font-weight: 600;
  }
  @font-face {
    font-family: "SF Pro Text";
    src: local("SF Pro Text Semibold Italic"), url("/src/assets/fonts/SFProText/SFProText-SemiboldItalic.ttf") format("truetype"), 
                                               url("/src/assets/fonts/SFProText/SFProText-SemiboldItalic.woff2") format("woff2");
    font-style: italic;
    font-weight: 600;
  }
  @font-face {
    font-family: "SF Pro Text";
    src: local("SF Pro Text Medium"), url("/src/assets/fonts/SFProText/SFProText-Medium.ttf") format("truetype"), 
                                      url("/src/assets/fonts/SFProText/SFProText-Medium.woff2") format("woff2");
    font-style: normal;
    font-weight: 500;
  }
  @font-face {
    font-family: "SF Pro Text";
    src: local("SF Pro Text Medium Italic"), url("/src/assets/fonts/SFProText/SFProText-MediumItalic.ttf") format("truetype"), 
                                             url("/src/assets/fonts/SFProText/SFProText-MediumItalic.woff2") format("woff2");
    font-style: italic;
    font-weight: 500;
  }
  @font-face {
    font-family: "SF Pro Text";
    src: local("SF Pro Text Regular"), url("/src/assets/fonts/SFProText/SFProText-Regular.ttf") format("truetype"), 
                                       url("/src/assets/fonts/SFProText/SFProText-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
  }
  @font-face {
    font-family: "SF Pro Text";
    src: local("SF Pro Text Regular Italic"), url("/src/assets/fonts/SFProText/SFProText-RegularItalic.ttf") format("truetype"), 
                                              url("/src/assets/fonts/SFProText/SFProText-RegularItalic.woff2") format("woff2");
    font-style: italic;
    font-weight: 400;
  }

  html 
  {
    font-family: var(--font-family-1);
    font-style: normal;
    font-weight: 400;
  }
  
  body 
  {
    background: #f2f4f7;
    width: 100%;
    margin: 0;
  }
  
  .container 
  {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 108px;
    box-sizing: border-box;
  }

  @media screen and (max-width: 1224px) 
  {
    .container 
    {
      padding: 0 80px;
    }
  }

  @media screen and (max-width: 1023px) 
  {
    .container 
    {
      padding: 0 32px;
    }
  }

  @media screen and (max-width: 767px) 
  {
    .container 
    {
      padding: 0 16px;
    }
  }
  
  * {
    box-sizing: border-box;
  }
  *:before 
  {
    box-sizing: border-box;
  }
  *:after 
  {
    box-sizing: border-box;
  }
    
  :root 
  {
    --col-1: #101828;
    --col-2: #344054;
    --col-3: #2d66ee;
    --col-4: #1d2939;
    --col-5: #98a2b3;
    --col-6: #667085;
    --col-7: #ffffff;
    --font-family-1: "SF Pro Text", sans-serif;
    --font-family-2: "Inter", sans-serif;
    --font-family-3: "Inter Bold", sans-serif;
    --font-family-4: "SF Pro Text Medium", sans-serif;
    --font-family-5: "SF Pro Display Semibold", sans-serif;
    --font-family-6: "SF Pro Text Regular", sans-serif;
    --font-family-7: "SF Pro Display Regular", sans-serif;
    --font-family-8: "SF Pro Text Semibold", sans-serif;
    --font-family-9: "Inter Regular", sans-serif;
    --background-col: #ffffff;
  }
  
  .full_dev_block 
  {
    background-color: var(--col-7);
    margin-left: -108px;
    margin-right: -108px;
    padding: 80px 108px;
    max-width: 1440px;
    width: 100vw;
    display: flex;
    gap: 128px;
  }
  .full_dev_block-leftblock 
  {
    width: 600px;
    display: grid;
    gap: 34px;
  }
  .full_dev_block-content 
  {
    display: grid;
    gap: 32px;
  }
  .full_dev_block-title 
  {
    font-family: var(--font-family-3);
    font-weight: 700;
    font-size: 36px;
    line-height: 144%;
    letter-spacing: 0.33px;
    color: var(--col-1);
  }
  .full_dev_block-text 
  {
    font-family: var(--font-family-4);
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.24px;
    color: var(--col-1);
  }
  .full_dev_block-tech 
  {
    width: 496px;
    display: grid;
    gap: 16px;
  }
  .full_dev_block-subtitle 
  {
    font-family: var(--font-family-5);
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.34px;
    color: var(--col-1);
  }
  .full_dev_block-enum 
  {
    font-family: var(--font-family-6);
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.41px;
    color: var(--col-2);
  }
  .full_dev_block-enum span 
  {
    color: var(--col-3);
  }
  .full_dev_block-list 
  {
    display: grid;
  }
  .full_dev_block-item 
  {
    padding: 12px 0;
    display: flex;
    gap: 12px;
    align-items: center;
    width: fit-content;
  }
  .full_dev_block-item a 
  {
    font-family: var(--font-family-7);
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.38px;
    color: var(--col-4);
    text-decoration: none;
    cursor: pointer;
  }
  .full_dev_block-item a:hover 
  {
    font-family: var(--font-family-5);
    font-weight: 600;
    color: var(--col-1);
    border-bottom: solid 1px var(--col-3);
  }
  @media screen and (max-width: 1224px) 
  {
    .full_dev_block {
      margin-left: -80px;
      margin-right: -80px;
      padding: 80px;
    }
  }
  @media screen and (max-width: 1023px) 
  {
    .full_dev_block 
    {
      margin-left: -32px;
      margin-right: -32px;
      padding: 32px;
      gap: 82px;
    }
    .full_dev_block-leftblock 
    {
      margin-left: 40px;
      width: 320px;
      gap: 32px;
    }
    .full_dev_block-content, .full_dev_block-tech 
    {
      width: 320px;
    }
    .full_dev_block-title 
    {
      font-size: 28px;
    }
    .full_dev_block-enum 
    {
      font-size: 14px;
    }
  }
  @media screen and (max-width: 767px) 
  {
    .full_dev_block 
    {
      margin-left: -16px;
      margin-right: -16px;
      padding: 32px 16px;
      flex-direction: column;
      gap: 32px;
    }
    .full_dev_block-leftblock 
    {
      margin-left: initial;
    }
    .full_dev_block-enum 
    {
      font-size: 14px;
      width: 278px;
    }
  }
  
  .main_block 
  {
    margin-top: -56px;
    height: 900px;
  }
  .main_block-content 
  {
    margin-top: 160px;
    width: 600px;
    height: 220px;
    display: grid;
    gap: 24px;
  }
  .main_block-title 
  {
    font-family: var(--font-family-3);
    font-weight: 700;
    font-size: 36px;
    line-height: 144%;
    letter-spacing: 0.33px;
    color: var(--col-1);
  }
  .main_block-title span 
  {
    color: var(--col-3);
  }
  .main_block-text 
  {
    font-family: var(--font-family-4);
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.24px;
    color: var(--col-1);
  }
  .main_block-form 
  {
    margin-top: 64px;
    width: fit-content;
    border-radius: 12px;
    padding: 24px;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.16), 0 0 2px 0 rgba(0, 0, 0, 0.08);
    background: var(--background-col);
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .main_block-subtitle 
  {
    width: 600px;
    font-family: var(--font-family-3);
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.38px;
    color: var(--col-1);
  }
  .main_block-background 
  {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    max-width: 1440px;
    width: 100%;
    height: 900px;
    overflow: hidden;
  }
  .main_block-background-wrapper 
  {
    display: flex;
    gap: 2%;
    justify-content: end;
    transform: translateX(24%);
  }
  @media screen and (max-width: 1224px) 
  {
    .main_block-background 
    {
      width: 100vw;
    }
  }
  @media screen and (max-width: 1023px) 
  {
    .main_block 
    {
      margin-top: -90px;
      height: 762px;
    }
    .main_block-content 
    {
      margin-top: 138px;
      width: 382px;
      height: 204px;
    }
    .main_block-title 
    {
      font-size: 28px;
    }
    .main_block-form 
    {
      margin-top: 32px;
      padding: 32px;
      width: 382px;
      height: 356px;
      box-sizing: border-box;
    }
    .main_block-subtitle 
    {
      width: 295px;
      font-size: 16px;
    }
    .main_block-background 
    {
      height: 762px;
    }
    .main_block-background-wrapper 
    {
      transform: translateX(16%);
    }
  }
  @media screen and (max-width: 767px) 
  {
    .main_block 
    {
      height: 1268px;
    }
    .main_block-form 
    {
      margin-top: 536px;
      width: 392px;
    }
    .main_block-background 
    {
      height: 1268px;
    }
    .main_block-background-wrapper 
    {
      transform: translate(32%, 20%);
    }
  }
  
  .form_welcome 
  {
    width: 628px;
    height: 58px;
    display: flex;
    gap: 24px;
  }
  .form_welcome-content 
  {
    display: grid;
    gap: 8px;
    flex: 1;
  }
  .form_welcome-content label 
  {
    font-family: var(--font-family-4);
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.08px;
    color: var(--col-6);
  }
  .form_welcome-content input 
  {
    border: none;
    border-bottom: solid 0.7px #d0d5dd;
    font-family: var(--font-family-6);
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.41px;
    color: var(--col-1);
  }
  .form_welcome button 
  {
    border-radius: 8px;
    border: 0px;
    padding: 11px 24px;
    width: 132px;
    height: 58px;
    cursor: pointer;
    background: var(--col-3);
    text-align: left;
    font-family: var(--font-family-8);
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.15px;
    color: var(--col-7);
  }
  @media screen and (max-width: 1023px) 
  {
    .form_welcome 
    {
      width: 295px;
      display: flex;
      flex-direction: column;
      gap: 32px;
    }
    .form_welcome button 
    {
      width: fit-content;
      height: 40px;
      text-align: left;
    }
  }
  @media screen and (max-width: 767px) 
  {
    .form_welcome 
    {
      width: 224px;
    }
  }
  
  .background_image 
  {
    display: flex;
    flex-direction: column;
    rotate: -12deg;
    object-fit: cover;
  }
  @media screen and (max-width: 1023px) 
  {
    .background_image 
    {
      width: 146px;
    }
  }
  
  .image-left 
  {
    animation: moveBackgroundLeft 30s linear infinite;
  }
  @media screen and (max-width: 767px) 
  {
    .image-left 
    {
      animation: none;
    }
  }
  
  .image-right 
  {
    animation: moveBackgroundRight 30s linear infinite;
  }
  @media screen and (max-width: 767px) 
  {
    .image-right 
    {
      margin-top: -30px;
      animation: none;
    }
  }
  
  @keyframes moveBackgroundLeft 
  {
    0% 
    {
      transform: translateY(0);
    }
    100% 
    {
      transform: translateY(-50%);
    }
  }
  @keyframes moveBackgroundRight 
  {
    0% 
    {
      transform: translateY(-50%);
    }
    100% 
    {
      transform: translateY(0);
    }
  }
  .footer 
  {
    border-radius: 12px;
    padding: 24px;
    margin-top: auto;
    margin-bottom: 48px;
    box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.08), 0 0 2px 0 rgba(0, 0, 0, 0.08);
    background: var(--col-1);
  }
  .footer_content 
  {
    display: grid;
    grid-gap: 40px;
    align-items: center;
  }
  .footer_title 
  {
    font-family: var(--font-family-3);
    font-weight: 700;
    font-size: 36px;
    line-height: 50%;
    letter-spacing: 0em;
    color: var(--col-7);
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
  }
  .footer_contacts 
  {
    display: flex;
    flex-wrap: wrap;
    row-gap: 32px;
  }
  .footer_contact 
  {
    display: grid;
    gap: 8px;
    flex: 1;
    min-width: 160px;
  }
  .footer_contact-title 
  {
    display: flex;
    gap: 8px;
    align-items: center;
  }
  .footer_contact-title p 
  {
    font-family: var(--font-family-4);
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.15px;
    color: var(--col-5);
  }
  .footer_contact-content 
  {
    font-family: var(--font-family-8);
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.41px;
    color: var(--col-7);
    text-decoration: none;
  }
  .footer_end 
  {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
  }
  .footer_end-text 
  {
    font-family: var(--font-family-6);
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.08px;
    color: var(--col-7);
  }
  @media screen and (max-width: 1023px) 
  {
    .footer 
    {
      padding: 46px 32px;
      width: 100vw;
      margin-bottom: 0;
      margin-left: -32px;
    }
    .footer_content 
    {
      grid-gap: 32px;
    }
    .footer_contact-content 
    {
      font-size: 14px;
    }
  }
  @media screen and (max-width: 767px) 
  {
    .footer 
    {
      padding: 38px 16px;
      margin-left: -16px;
    }
    .footer_content 
    {
      grid-gap: 52px;
    }
    .footer_title 
    {
      font-size: 32px;
    }
  }
  
  .header 
  {
    border-radius: 12px;
    padding: 16px 24px;
    width: fit-content;
    position: sticky;
    top: 24px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    background: var(--background-col);
    z-index: 1000;
  }
  .header_content 
  {
    display: flex;
    gap: 80px;
    align-items: center;
  }
  .header_menu 
  {
    width: 59px;
    height: 40px;
    display: none;
  }
  .header_menu svg 
  {
    width: 100%;
    height: 100%;
  }
  .header_menu-content 
  {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background-col);
    z-index: 9999;
    overflow: auto;
    display: none;
  }
  .header_menu-wrapper 
  {
    display: grid;
    gap: 65px;
    padding: 100px 40px;
  }
  .header_menu-close-wrapper 
  {
    display: flex;
    justify-content: end;
  }
  .header_menu-close 
  {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  .header_menu-close svg 
  {
    width: 100%;
    height: 100%;
  }
  .header_menu-close:active .header_menu-content 
  {
    display: none;
  }
  .header_menu-title 
  {
    font-size: 48px;
    text-align: center;
    line-height: 48px;
  }
  .header_menu-blocks 
  {
    display: grid;
    gap: 65px;
    padding: 0;
    justify-content: center;
  }
  .header_menu-links 
  {
    display: grid;
    gap: 32px;
    text-align: center;
  }
  .header_menu-link 
  {
    font-family: var(--font-family-9);
    font-weight: 400;
    font-size: 36px;
    line-height: 144%;
    letter-spacing: 0.33px;
    text-decoration: none;
    color: var(--col-1);
  }
  .header_menu-contacts 
  {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    row-gap: 22px;
    justify-content: center;
  }
  .header_menu-contacts-content a 
  {
    font-family: var(--font-family-4);
    font-weight: 500;
    font-size: 18px;
    letter-spacing: -0.15px;
    color: var(--col-3);
    text-decoration: none;
    white-space: nowrap;
  }
  .header_menu-contact 
  {
    display: flex;
    gap: 8px;
    align-items: center;
  }
  .header_menu-contact svg 
  {
    width: 24px;
    height: 24px;
    color: var(--col-3);
  }
  .header_menu-title 
  {
    font-family: var(--font-family-3);
    font-weight: 700;
    font-size: 48px;
    text-transform: uppercase;
    line-height: 48px;
    letter-spacing: -0.15px;
    text-decoration: none;
    color: var(--col-3);
    text-align: center;
  }
  .header_menu-contact-content a 
  {
    font-family: var(--font-family-4);
    font-weight: 500;
    font-size: 18px;
    letter-spacing: -0.15px;
    color: var(--col-3);
    text-decoration: none;
    white-space: nowrap;
  }
  .header_title 
  {
    font-family: var(--font-family-3);
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 18px;
    letter-spacing: -0.15px;
    text-decoration: none;
    color: var(--col-3);
  }
  .header_links 
  {
    display: flex;
    gap: 24px;
  }
  .header_link, .header_contact-content a 
  {
    font-family: var(--font-family-4);
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.15px;
    text-decoration: none;
    color: var(--col-1);
  }
  .header_contacts 
  {
    display: flex;
    gap: 32px;
  }
  .header_contact-phone, .header_contact-mail 
  {
    display: flex;
    gap: 8px;
    align-items: center;
  }
  .header_contact-phone svg, .header_contact-mail svg 
  {
    width: 24px;
    height: 24px;
    color: var(--col-3);
  }
  .header_contact-content 
  {
    display: flex;
    gap: 16px;
  }
  .header_contact-content a 
  {
    color: var(--col-3);
  }
  @media screen and (max-width: 1328px) 
  {
    .header_content 
    {
      gap: 30px;
    }
    .header_links 
    {
      gap: 15px;
    }
    .header_contacts 
    {
      gap: 15px;
    }
    .header_contact-phone, .header_contact-mail 
    {
      gap: 4px;
    }
    .header_contact-content 
    {
      gap: 10px;
    }
  }
  @media screen and (max-width: 1105px) {
    .header 
    {
      padding: 16px 17px;
    }
    .header_content 
    {
      gap: 10px;
    }
    .header_links 
    {
      gap: 6px;
    }
    .header_contacts 
    {
      gap: 6px;
    }
  }
  @media screen and (max-width: 1023px) 
  {
    .header 
    {
      padding: 25px 32px;
      width: 100vw;
      top: 16px;
      margin-left: -32px;
    }
    .header_content 
    {
      gap: initial;
      justify-content: space-between;
    }
    .header_title 
    {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .header_links, .header_contact-phone 
    {
      display: none;
    }
  }
  @media screen and (max-width: 767px) 
  {
    .header 
    {
      padding: 35px 16px;
      top: 20px;
      margin-left: -16px;
    }
    .header_menu 
    {
      width: 40px;
      height: 28px;
    }
    .header_menu-wrapper 
    {
      padding: 70px 40px;
    }
    .header_menu-title 
    {
      font-size: 20px;
      line-height: 18px;
      letter-spacing: -0.15px;
    }
    .header_menu-link 
    {
      font-size: 24px;
    }
    .header_menu-blocks 
    {
      gap: 52px;
    }
    .header_menu-links 
    {
      gap: 21px;
    }
    
    .header_menu-contacts 
    {
      flex-direction: column;
      row-gap: 16px;
      align-items: center;
    }
    .header_menu-contact 
    {
      gap: 8px;
    }
    .header_contacts 
    {
      display: none;
    }
  }